*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    
}
.box{
    width: 200px;
    height: 200px;
    background-color: red;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media(max-width:1600px){
.wrapper{
    background-color: black;   
}
.box{
    background-color: red;
    color: white;
}
}


@media (max-width:1400px){

    .wrapper{
        background-color: yellow;
        gap: 50px;
    }
    
    .box{
        width: 350px;
        height: 200px;
        background-color: rgb(0, 8, 255);
    }
}

@media (max-width:1200px){
    .wrapper{
        background-color: red;
        gap: 50px;
    }
    .box{
        background-color: black;
        height: 250px;
    }
}

@media (max-width:1024px){

    .wrapper{
        background-color: yellow;
        gap: 50px;
    }
    
    .box{
        width: 350px;
        height: 250px;
        background-color: rgb(0, 8, 255);
    }
}
@media (max-width:768px){
    .wrapper{
        background-color: rgb(218, 46, 141);
        gap: 50px;
    }
    .box{
        background-color: orange;
        width: 400px;
        height: 400px;
    }
}